<ion-header>
  <ion-toolbar>
    <ion-title>Editar Apontamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<form [formGroup]="formulario"  class="appointment-form2">

  
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
   
    <ion-item>
      <ion-label position="stacked">Colaborador</ion-label>
      <ion-input type="text" formControlName="colaborador" id="colaborador"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input type="text" formControlName="descricao" id="descricao"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Data Inicial</ion-label>
      <ion-datetime  displayFormat="DD MM YYYY HH:mm" formControlName="data_inicial" id="data_inicial"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Data Final</ion-label>
        <ion-datetime  displayFormat="DD MM YYYY HH:mm" formControlName="data_final" id="data_final"></ion-datetime>
      </ion-item>


    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-input type="text" formControlName="status" id="status"></ion-input>
    </ion-item>

  
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="send()" class="ion-no-margin">Salvar</ion-button>
  </div>

</form>

</ion-content>
