<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
      <!-- <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
          </ion-buttons> -->
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formulario" class="solicitacoes-form">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <!-- <ion-item>
        <ion-label position="stacked">Cliente</ion-label>
        <ion-input type="text" formControlName="id_cliente" id="id_cliente">
        </ion-input>
      </ion-item> -->

      <!-- <ion-item>
        <ion-label position="stacked">Filial</ion-label>
        <ion-input readonly type="text" [value]=result.id_filial formControlName="id_filial" id="id_filial">
        </ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label position="stacked">Assunto: </ion-label>
        <ion-input type="text" formControlName="assunto" id="assunto">
        </ion-input>
      </ion-item>

       <!--<ion-item>
        <ion-label position="stacked">Tipo de Manut: <ion-text color="danger"> * </ion-text>
        </ion-label>
        <ion-input type="text" formControlName="ordem_servico" id="ordem_servico">
        </ion-input> -->
        <!-- <ion-select placeholder="Selecione Tipo Manutenção" formControlName="ordem_servico" id="ordem_servico">
          <ion-select-option *ngFor="let tipomanutencao of tipomanutencaoarray | keyvalue" value="{{tipomanutencao.key}}">
            {{tipomanutencao.key}} {{tipomanutencao.value}}</ion-select-option>
        </ion-select>
      </ion-item>-->


      <ion-item>
        <ion-label position="stacked">Prioridade: <ion-text color="danger"> * </ion-text>
        </ion-label>
        <ion-input type="text" formControlName="prioridade" id="prioridade">
        </ion-input>
        <!--  <ion-select placeholder="Selecione a Prioridade" formControlName="prioridade">
           <ion-select-option *ngFor="let prioridade of prioridadearray | keyvalue"
              value="{{prioridade.key}} {{prioridade.value}}">
              {{prioridade.key}} {{prioridade.value}}</ion-select-option>
        </ion-select> -->
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Status: <ion-text color="danger"> * </ion-text>
        </ion-label>
        <ion-input type="text" formControlName="status" id="status">
        </ion-input>
        <!--  <ion-select placeholder="Selecione o Status" formControlName="status" id="status">
          <ion-select-option *ngFor="let status of statusarray | keyvalue" [value]="status.key">{{status.key}}
      {{status.value}}</ion-select-option>
        </ion-select> -->
      </ion-item>

      <ion-item *ngIf="passedId">
        <ion-label position="stacked">Data Termino</ion-label>
        <ion-datetime displayFormat="DD MM YYYY" formControlName="data_termino" id="data_termino"></ion-datetime>
      </ion-item>




      <ion-item>
        <ion-label position="stacked">Equipamento: </ion-label>
        <ion-input type="text" formControlName="id_equipamento" id="id_equipamento">
        </ion-input>
        <!-- <ion-select placeholder="Equipamento" formControlName="id_equipamento" id="id_equipamento">
          <ion-select-option *ngFor="let tipomanutencao of tipomanutencaoarray | keyvalue" value="{{tipomanutencao.key}}">
              {{tipomanutencao.key}} {{tipomanutencao.value}}</ion-select-option>
        </ion-select> -->
      </ion-item>



      <ion-item>
        <ion-label position="stacked">Localização: <ion-text color="danger"> * </ion-text>
        </ion-label>
        <ion-input type="text" formControlName="localizacao" id="localizacao">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Maquina parada: <ion-text color="danger"> * </ion-text>
        </ion-label>
        <ion-checkbox slot="start" formControlName="maquina_parada" id="maquina_parada" value='' type="checkbox"
          (ionChange)=($event)>
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Setor executante: <ion-text color="danger"> * </ion-text>
        </ion-label>
        <ion-input type="text" formControlName="id_setor_executante" id="id_setor_executante">
        </ion-input>
        <!-- <ion-select placeholder=">Setor executante" formControlName="id_setor_executante" id="id_setor_executante">
           <ion-select-option *ngFor="let tipomanutencao of tipomanutencaoarray | keyvalue" value="{{tipomanutencao.key}}">
                      {{tipomanutencao.key}} {{tipomanutencao.value}}</ion-select-option>
        </ion-select>-->
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Problema: <ion-text color="danger"> * </ion-text>
        </ion-label>
        <ion-input type="text" formControlName="id_problema" id="id_problema">
        </ion-input>
        <!--  <ion-select placeholder="Problema" formControlName="id_problema" id="id_problema">
         <ion-select-option *ngFor="let tipomanutencao of tipomanutencaoarray | keyvalue" value="{{tipomanutencao.key}}">
                              {{tipomanutencao.key}} {{tipomanutencao.value}}</ion-select-option>
        </ion-select> -->
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Sub-Grupo:</ion-label>
        <ion-input type="text" formControlName="id_subgrupo" id="id_subgrupo">
        </ion-input>
        <!-- <ion-select placeholder="SubGrupo" formControlName="id_subgrupo" id="id_subgrupo">
           <ion-select-option *ngFor="let tipomanutencao of tipomanutencaoarray | keyvalue" value="{{tipomanutencao.key}}">
                              {{tipomanutencao.key}} {{tipomanutencao.value}}</ion-select-option>
        </ion-select> -->
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descrição: <ion-text color="danger"> * </ion-text>
        </ion-label>
        <ion-textarea type="textarea" row=6 formControlName="mensagem" id="mensagem">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-icon style="font-size: 49px;" slot="start" ios="ios-camera" md="md-camera" (click)="selectImageInCamera()">
        </ion-icon>
        <ion-label>Anexar Imagem: <ion-text color="danger"> * </ion-text>
          <!-- <ion-progress-bar *ngIf="myPorcents" [value]="myPorcents | async" [buffer]=myPorcents>
            {{myPorcents | async }}%
          </ion-progress-bar> -->
        </ion-label>
        <ion-input hidden formControlName="imagem" [value]="imagem" id="imagem"></ion-input>

        <!-- <ion-input hidden type="text" [value]="myPhotoURL | async" formControlName="imagem" id="imagem">
        </ion-input> -->

        <ion-thumbnail slot="start">
          <ion-img *ngIf="imagem" [src]="imagem"></ion-img>
        </ion-thumbnail>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" (click)="sendSolicitacao()" class="ion-no-margin">Salvar</ion-button>
    </div>

  </form>
</ion-content>