<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formulario" class="appointment-form2">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">Obs</ion-label>
        <ion-input type="text" formControlName="obs" id="obs"></ion-input>
      </ion-item> 
        <ion-input hidden type="text" readonly=true formControlName="url" value="{{imagem}}" id="url"></ion-input>
    </ion-list>
     
    <div class="ion-padding">
      <ion-button expand="block" (click)="send()" class="ion-no-margin">Salvar</ion-button>
    </div>

  </form>

  <ion-card class="ion-text-center"><ion-label> <ion-icon  style="font-size: 50px" name="camera" (click)="selectImageInCamera()"></ion-icon></ion-label> 
    <ion-card-subtitle *ngIf="imagem" class="ion-padding"> Imagem:  </ion-card-subtitle>
     <ion-img class="ion-padding" [src]="imagem" id="imagem"></ion-img>
  </ion-card>

</ion-content>