<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="selectImageInCamera()" fill="solid" shape="round">
    Tirar Foto
  </ion-button>
  <form [formGroup]="formulario" class="appointment-form2">

    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-progress-bar value="myPorcents | async" buffer="0.5" reversed="true" color="primary">
      </ion-progress-bar>

      <ion-item>
        <ion-label position="stacked">Obs</ion-label>
        <ion-input type="text" formControlName="obs" id="obs"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Url Img</ion-label>
        <ion-input type="text" [value]="myPhotoURL | async" formControlName="url" id="url"></ion-input>
      </ion-item>
      <ion-img *ngIf="myPhotoURL" [src]="myPhotoURL | async"></ion-img>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" (click)="send()" class="ion-no-margin">Salvar</ion-button>
    </div>

  </form>

</ion-content>