<ion-header translucent>

  <ion-content fullscreen>


    <form [formGroup]="form" (submit)="doLogin()">

      <div class="container">
        <img src="assets/img/logo.png">
      </div>


      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Login <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="login" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="senha" type="password"></ion-input>
        </ion-item>



        <div class="ion-padding">
          <ion-button [routerLink]="[ '/tabs/tab1' ]" expand="block" type="submit" class="ion-no-margin">Entrar
          </ion-button>

          <!--   <ion-button expand="block" type="submit" class="ion-no-margin">Entrar
              </ion-button>-->
        </div>
      </ion-list>
    </form>
    <code>
      LAT = {{lat}} <br> LONG = {{long}}
    </code>
    <ion-button a href='https://www.google.com/maps/@{{lat}},{{long}},15z'> Abri mapa</ion-button>
  </ion-content>