<ion-header translucent>

  <ion-content fullscreen>


    <form [formGroup]="form" (ngSubmit)="login()">

      <div class="container">
        <img src="assets/img/logo.png">
      </div>


      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Login <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="login" value="{{api.getCredentials().login}}" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="senha" value="{{api.getCredentials().authorization}}" type="{{ type }}">

          </ion-input>
          <ion-button slot="end" class="eye" *ngIf="showPass" (click)="showPassword()" fill="clear">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
          <ion-button slot="end" class="eye" *ngIf="!showPass" (click)="showPassword()" fill="clear">
            <ion-icon name="eye-off"></ion-icon>
          </ion-button>

        </ion-item>


        <div class="ion-padding">
          <!-- <ion-button [routerLink]="[ '/tabs/tab1' ]" expand="block" type="submit" class="ion-no-margin">Entrar
          </ion-button> -->

          <ion-button expand="block" type="submit" class="ion-no-margin">Entrar
          </ion-button>
        </div>
      </ion-list>
    </form>
  </ion-content>