<ion-header>
  <ion-toolbar>
    <ion-row>
      <div>
        <img class="logo" src="assets/img/logosmall.png">
      </div>
      <ion-title>
      Gerenciamentos de Imagens
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div nigor></div>
  <ng-container *ngIf="img$ | async as imgs ; else elseTemplate">

    <ion-list>
      <ion-item *ngFor="let entities of imgs | filter: ordemId">
        <ion-grid>

          <ion-row>
            <ion-col size="12">
              <ion-card class="card-background-page">
                <img [src]="entities.url"/>
                <div class="card-title"></div>
                <div class="card-subtitle">{{entities.obs}}</div>
              </ion-card>
            </ion-col>
          </ion-row>



        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
      <ion-fab-button (click)="openModalCreate()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ng-container>
  <ng-template #elseTemplate>

  </ng-template>




</ion-content>