<ion-header>
  <ion-toolbar>
    <ion-title>Editar Ordem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
{{passedId}}

<form [formGroup]="formulario"  class="appointment-form2">

  <ion-row>
    
    <ion-col size="12">
      <input type="text"   formControlName="observacao" id="observacao"  placeholder="observações">
    </ion-col>


  </ion-row>



  <ion-row>

    <ion-col size="12">
      <button round Class="btn btn-primary" (click)="sendOrdem()">Salvar</button>
    </ion-col>


  </ion-row>


</form>

</ion-content>
