<ion-header>
  <ion-toolbar>
    <ion-row>
      <div>
        <img class="logo" src="assets/img/logosmall.png">
      </div>
      <ion-title>
        Home
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <h4 class="bemvindo">Seja Bem Vindo(a)!</h4>
  <ion-card color="light">
    <ion-card-content>
      <ion-text color="dark">
        <p class="nome"> {{nome}} </p>
      </ion-text>
      <ion-note color="primary"> {{logincliente}}</ion-note>
    </ion-card-content>
  </ion-card>
  <h4 class="bemvindo">
    <ion-icon style="color: #f2b200" slot="start" name="megaphone"></ion-icon> Comunicados
  </h4>
  <ion-slides [options]="slideOpts" loop=true mode="ios">
    <ion-slide *ngFor="let item of cominicados" style="width: 100%">
      <ion-text color="dark">
        <h4>{{item.title}}</h4>
        <ion-note [innerHTML]="item.description"></ion-note>
      </ion-text>

    </ion-slide>

  </ion-slides>
  <ion-grid style="text-align: center;" *ngIf="(tipoacesso === '1')">
    <ion-row class="ion-justify-content-center">

      <ion-col>
        <ion-button size="small" shape="round" fill="solid" (click)="openModalSolicitationCreat()">
          Abrir Solic.
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" shape="round" fill="solid" (click)="openSolicitations()">
          Listar Solic.
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>